.my-element {
    background-color: #2D2D2D;
    color: #FFFFFF;
    margin-top: 20px;
    
    .form-group {
      color: #FFFFFF;
    }
    
    .form-control {
        background-color: #3D3D3D;
        color: #FFFFFF;
        border-color: #3D3D3D;
    }

    .btn-primary {
      background-color: #3D3D3D !important;
      border-color: #949494 !important;
    }
  
    .list-group-item {
      background-color: #3D3D3D;
      color: #FFFFFF;
    }
  }

  body {
    background-color: #2D2D2D;
    color: #FFFFFF;
  }